/*
 *= require_self
 *= require_tree .
 */

.reflex-behavior-tooltip {
  border-radius: 5px;
  filter: drop-shadow(0 4px 3px rgba(0,0,0,.07));
  font-family: monospace;
  opacity: 0.9;
  padding: 8px;
  position: absolute;
  white-space: nowrap;
  z-index: 10000;
}

.reflex-behavior-tooltip hr {
  border-top: solid 1px white;
  height: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  opacity: 0.2;
}
