body[data-devtools~='toggle'] toggle-trigger {
  box-sizing: border-box;
  outline-offset: -2px;
  outline: solid 1px salmon;
}

body[data-devtools~='toggle'] toggle-target.debug {
  box-sizing: border-box;
  /*display: inline-block;*/
  outline-offset: -2px;
  outline: solid 1px lightskyblue;
}

.debug.toggle {
  outline-offset: -4px;
  outline: solid 4px limegreen;
}

.debug.toggle::before {
  background-color: limegreen;
  color: white;
  content: attr(data-partial);
  font-size: 12px;
  padding: 4px 6px 6px 4px;
  z-index: 10000;
}
